body {
	background-color: #123456;
	font-family: sans-serif;
	margin-top: 60px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	color: white;
	font-size: 90px;
	text-shadow: 7px 7px black;
}
